body {
  margin: 0;
  background-color: transparent;
}

div#main {
  width: 227.469px;
  max-height: 250px;

  /* outline: none;
  box-sizing: border-box; */
}

popup-multi-page-menu {
  display: block;
}

.popup-multi-page-menu {
  padding: 8px 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2.0rem;
  letter-spacing: .2px;
}

.popup-multi-page-menu:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#items {
}

popup-item-page {
  display: flex;
  margin-right: 16px;
  padding: 0 36px 0 16px;
  position: relative;
  align-items: center;
}

popup-item-page>.title {

}

popup-item-page>.value {
  position: absolute;
  right:0;
}

#lang-picker {
  width: 80px;
}

#alpha-picker-wapper {
  background-image: url("../asset/transparent-background.jpg");
}

#alpha-picker {
  width: 100%;
  height: 100%;
  background: none;
  padding: 0;
  border: none;
}

color-picker-wapper {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 0.1px solid rgb(209, 209, 209);
}

color-picker-wapper>input[type="color" i] {
  opacity: 0;
  display: block;
  border: none;
}

#cc-status-example {
  font-weight: 500;
  padding: 3px 4px;
  border-radius: 2px;
  line-height: 1rem;
}

#tag-size-range {
  width: 60px;
}